.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #000000;
    /* padding: 70px 0; */
    display: grid;
    /* padding-top: 50px; */
    border-radius: 50px;
    margin: 30px;
    height: 246px;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: baseline;
    justify-items: center;
}

.footer-col {
    width: 33.3%;
    font-size: 24px;
    padding: 0 25px;
    display: grid;
    border-left: 2px solid rgb(255, 255, 255);
    height: auto;
    margin-right: 1 px;
    padding-right: 5px;
}

/* .footer-col ul li:not(:last-child){
	margin-bottom: 10px;
} */
.footer-col p {
    color: white;
}

