body {
    font-family: Josefin Sans,sans-serif,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.socia_media {
    text-align: center;
    height: 41%;
    word-spacing: 70px;
}

.digital-marketing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: white;
    color: black;
}

.digital-marketing-content {
    flex: 1;
    max-width: 600px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.cta-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #333;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .digital-marketing {
        flex-direction: column;
        text-align: center;
    }

    .digital-marketing-content {
        margin-bottom: 2rem;
    }
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }
}

p:hover{
    text-decoration: underline;
    text-decoration-color: rgb(93, 0, 255);
    text-decoration-thickness: 2px;
}
.services {
    padding-top: 80px;
    padding-left: 0;
    padding-top: 70px;
    text-decoration: initial;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
/* .services.service-alines {
    display: inline;
} */
.services h2 {
    width: 159px;
    text-align: center;
    left: 106px;
    border-radius: 10px;
    background-color: #ADFF2F;
    ;
}

/* CARDS */
.service-cards {
    padding: 40px;
    display: flex;
    justify-content: space-between;
}
/* Cards.CSS */